doctype html
html
   body
       h1 cb-alerts

       form(action='/cb-alerts/dashboard' method='POST')
           input(type='text' id='message' name='message')
           input(type='submit' value='Submit')

       p= message
       p(id='test')

       script(src='/scripts/config.js')