doctype html
html
    body
        h1 cb-alerts

        h2 200 Day Moving Average
        p#200dma= twoHundredDayMovingAverage

        h2 Mayer Index
        #mayer-index= mayerIndex

        h4 Last Updated
        p#last-updated= lastUpdated
