doctype html
html
    body
        p Enter your email to be added to the mailing list:
        form(action='/cb-alerts/signup' method='POST')
            input#message(type='email' name='email')
            input(type='submit' value='Submit')
